/* root */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
}

:root {
    /* fonts */
    --ff: "Manrope", sans-serif;
    --h1: 700 1.5rem/1.2em var(--ff);
    --h2: 700 1.25rem/1.4em var(--ff);
    --h3: 700 1.125rem/1.4em var(--ff);
    --h4: 700 1rem/1.4em var(--ff);
    --p: 400 1rem/1.6em var(--ff);
    --small: 400 0.75rem/1.6em var(--ff);
}

:root {
    /* colors */
    --bg-dark: oklch(0.1 0 264);
    --bg: oklch(0.2 0 264);
    --bg-light: oklch(0.3 0 264);
    --text: oklch(0.96 0 264);
    --text-muted: oklch(0.76 0 264);
    --primary: oklch(0.9 0.17 100);
    --secondary: oklch(0.65 0.15 264);
    --gradient: linear-gradient(135deg, var(--primary), var(--secondary));
    /* shadows */
    --shadow-s: inset 0 1px 2px #ffffff30, 0 1px 2px #00000030, 0 2px 4px #00000015;
    --shadow-m: inset 0 1px 2px #ffffff50, 0 2px 4px #00000030, 0 4px 8px #00000015;
    --transition: all 0.3s ease-in-out;
}

body.light {
    /* colors */
    --bg-dark: oklch(0.92 0 264);
    --bg: oklch(0.96 0 264);
    --bg-light: oklch(1 0 264);
    --text: okclh(0.15 0 264);
    --text-muted: oklch(0.4 0 264);
    --primary: oklch(0.65 0.15 264);
    --secondary: oklch(0.9 0.17 100);
    --gradient: linear-gradient(135deg, var(--primary), var(--secondary));
}

/* global styles */

body {
    margin: 1rem auto;
    max-width: min(90vw, 1200px);
    background: var(--bg-dark);
    color: var(--text-muted);
}

h1 {
    font: var(--h1);
    margin-bottom: 0.5rem;
    color: var(--text);
}

h2 {
    font: var(--h2);
    margin-bottom: 0.4rem;
    color: var(--text);
}

h3 {
    font: var(--h3);
    margin-bottom: 0.25rem;
    color: var(--text);
}

h4 {
    font: var(--h4);
    color: var(--text);
}

p {
    font: var(--p);
    max-width: 80ch;
    color: var(--text-muted);
}

.small, small {
    font: var(--small);
    letter-spacing: 0.1rem;
}

ul {
    padding-left: 2rem;
}

button, .btn {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    background: var(--bg);
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 1.25rem;
    box-shadow: var(--shadow-s);
    cursor: pointer;
    font: var(--p);
    color: var(--text);
    transition: var(--transition);
}

button:focus {
    outline: none;
}

button:hover, .btn:hover, .card:hover {
    background: var(--bg-light);
    box-shadow: var(--shadow-m);
    transition: var(--transition);
}

a {
    text-decoration: none;
    color: var(--text);
    transition: var(--transition);
}

a:hover {
    color: var(--primary);
    transition: var(--transition);
}

.tag {
    font: var(--small);
    padding: 0.1rem 0.4rem;
}

.flex {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
}

.grid-items {
    background: var(--bg-light);
    padding: 1rem 1.25rem;
    border-radius: 1rem;
    box-shadow: var(--shadow-s);
}

.section {
    margin: 4rem 0;
}

/* Cards */

.info-card {
    margin-top: 1rem;
    background: var(--bg-light);
    border-radius: 1rem;
    box-shadow: var(--shadow-s);
    padding: 1rem;
    position: relative; /* FOR SINGLE CARD SAMPLING */
    max-width: 400px;
}

