@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
    --ff: "Monserrat", sans-serif;
    --bg-dark: oklch(0.1 0.1 248);
    --bg: oklch(0.15 0.1 248);
    --bg-light: oklch(0.2 0.01 248);
    --text: oklch(0.96 0.02 248);
    --text-muted: oklch(0.76 0.02 248);
    --highlight: oklch(0.5 0.02 248);
    --border: oklch(0.4 0.02 248);
    --border-muted: oklch(0.3 0.02 248);
    --primary: oklch(0.76 0.1 248);
    --secondary: oklch(0.76 0.1 68);
    --danger: oklch(0.7 0.05 30);
    --warning: oklch(0.7 0.05 100);
    --success: oklch(0.7 0.05 160);
    --info: oklch(0.7 0.05 260);
    --h2: bold clamp(2rem, 2.5vw, 3rem)/1.5em var(--ff);
    --p: 1rem/1.8em var(--ff);
    --shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000012;
}

body.light {
    --bg-dark: oklch(0.92 0.1 248);
    --bg: oklch(0.96 0.1 248);
    --bg-light: oklch(1 0.01 248);
    --text: oklch(0.15 0.02 248);
    --text-muted: oklch(0.4 0.02 248);
    --highlight: oklch(1 0.02 248);
    --border: oklch(0.6 0.02 248);
    --border-muted: oklch(0.7 0.02 248);
    --primary: oklch(0.4 0.1 248);
    --secondary: oklch(0.4 0.1 68);
    --danger: oklch(0.5 0.05 30);
    --warning: oklch(0.5 0.05 100);
    --success: oklch(0.5 0.05 160);
    --info: oklch(0.5 0.05 260);
    --h2: bold clamp(2rem, 2.5vw, 3rem)/1.5em var(--ff);
    --p: 1rem/1.8em var(--ff);
}

body {
    width: 90vw;
    margin: 40px auto;
    background-color: var(--bg-dark);
    color: var(--text);
    font: var(--p);
}

h2 {font: var(--h2);}

label {font: var(--p);}

.info-cards {
    font: var(--p);
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.info-card {
    padding: 20px;
    border-radius: 20px;
    background: var(--bg);
    position: relative;
    box-shadow: var(--shadow);
    flex: 0;
    min-width: 150px;
}

.info-card label {
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--text-muted);
    margin-left: 0px;
}

.info-card-value {
    font: var(--h2);
    line-height: .5em;
}