/* root */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
}

:root {
    /* fonts */
    --ff: "Manrope", sans-serif;
    --value: 500 3.5rem/1.2em var(--ff);
    --h1: 700 1.5rem/1.2em var(--ff);
    --h2: 400 1.25rem/1.4em var(--ff);
    --h3: 700 1.125rem/1.4em var(--ff);
    --h4: 700 1rem/1.4em var(--ff);
    --p: 400 1rem/1.6em var(--ff);
    --small: 400 0.75rem/1.6em var(--ff);
}

:root {
    /* colors */
    --bg-dark: oklch(0.1 0 264);
    --bg: oklch(0.2 0 264);
    --bg-light: oklch(0.24 0 264);
    --bg-primary: oklch(40.54% 0.00005 271.152);
    --text: oklch(0.96 0 264);
    --clock: oklch(0.76 0 264);
    --text-muted: oklch(0.76 0 264);
    --text-value: oklch(0.96 0 264);
    --primary: oklch(0.9 0.17 100);
    --secondary: oklch(0.65 0.15 264);
    --gradient: linear-gradient(135deg, var(--primary), var(--secondary));
    /* shadows */
    --shadow-s: inset 0 1px 2px #ffffff30, 0 1px 2px #00000030, 0 2px 4px #00000015;
    --shadow-m: inset 0 1px 2px #ffffff50, 0 2px 4px #00000030, 0 4px 8px #00000015;
    --transition: all 0.3s ease-in-out;
}

body.light {
    /* colors */
    --bg-dark: oklch(0.955 0 264);
    --bg: oklch(0.96 0 264);
    --bg-light: oklch(0.82 0 264);
    --bg-primary: oklch(97.015% 0.00011 271.152);
    --text: oklch(0.4 0 264);
    --clock: oklch(0.4 0 264);
    --text-muted: oklch(0.65 0 264);
    --text-value: oklch(0.33 0 264);
    --primary: oklch(0.65 0.15 264);
    --secondary: oklch(0.9 0.17 100);
    --gradient: linear-gradient(135deg, var(--primary), var(--secondary));
}

/* global styles */

body {
    margin: 1rem auto;
    max-width: min(90vw, 1200px);
    background: var(--bg-dark);
    color: var(--text-muted);
}

h1 {
    font: var(--h1);
    margin-bottom: 0.5rem;
    color: var(--text);
}

h2 {
    font: var(--h2);
    margin-bottom: 0.4rem;
    color: var(--text);
}

h3 {
    font: var(--h3);
    margin-bottom: 0.25rem;
    color: var(--text);
}

h4 {
    font: var(--h4);
    color: var(--text);
}

p {
    font: var(--p);
    max-width: 80ch;
    color: var(--text-muted);
}

.small, small {
    font: var(--small);
    letter-spacing: 0.1rem;
}

ul {
    padding-left: 2rem;
}

button, .btn {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    background: var(--bg);
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 1.25rem;
    box-shadow: var(--shadow-s);
    cursor: pointer;
    font: var(--p);
    color: var(--text);
    transition: var(--transition);
}

button:focus {
    outline: none;
}

button:hover, .btn:hover, .card:hover {
    background: var(--bg-light);
    box-shadow: var(--shadow-m);
    transition: var(--transition);
}

a {
    text-decoration: none;
    color: var(--text);
    transition: var(--transition);
}

a:hover {
    color: var(--primary);
    transition: var(--transition);
}

.tag {
    font: var(--small);
    padding: 0.1rem 0.4rem;
}

.flex {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
}

.grid-items {
    background: var(--bg-light);
    padding: 1rem 1.25rem;
    border-radius: 1rem;
    box-shadow: var(--shadow-s);
}

.section {
    margin: 4rem 0;
}

/* Navbar */

.nav {
    margin-top: 1rem;
    background: var(--bg-light);
    border-radius: 2rem;
    box-shadow: var(--shadow-s);
    padding: 0.4rem;
    display: grid;
    grid-template-columns: 20rem 4fr 1fr 1fr;
    align-items: center;
    grid-template-areas:
    "app-title home clock theme";
}

@media (min-width: 40rem) {
    .app-title {
        padding-right: 8rem;
    }
}

@media (max-width: 40rem) {
    .nav {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "app-title theme"
        "home clock";
    }
    .app-title {
        padding-right: 6rem;
    }

    .clock {
        margin-left: auto;
        margin-right: 1rem;
    }
    .home-link {
        margin-top: 0.5rem;
        margin-left: 1rem;
    }
}

@media (max-width: 400px) {
    .app-title {
        padding-right: 4rem;
    }
}

.item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.app-title {
    background: var(--bg-light);
    border-radius: 1.5rem;
    box-shadow: var(--shadow-s);
    background: var(--bg-primary);
    padding-left: 1rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    margin-bottom: 0px;
    font: 100 1.5rem/1.2em var(--ff);
    color: var(--clock);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.app-title h1 {
    font: 100 1.5rem/1.2em var(--ff);
    color: var(--clock);
    margin-bottom: 0;
}

.clock {
    font: 400 1.5rem/1.2em var(--ff);
    color: var(--clock);
}

.home-link a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-right: auto;
}

.home-link h1 {
    font: 400 1.3rem/1.2em var(--ff);
    color: var(--clock);
    margin-bottom: 0;
}

#toggle-theme {
    cursor: pointer;
    margin-left: auto;
    margin-right: 1rem;
}

/* Cards */

.info-card {
    margin-top: 1rem;
    background: var(--bg-light);
    border-radius: 1.5rem;
    box-shadow: var(--shadow-s);
    padding: 1rem;
    position: relative; /* FOR SINGLE CARD SAMPLING */
    max-width: 190px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 180px;
}

#presentation-card {
    max-width: 430px;
    align-items: flex-start;
    padding: 2rem;
}

#presentation-paragraph {
    margin-top: 1rem;
}


.info-card h2 {
    margin-bottom: 0.05rem;
}

.card-value {
    font: var(--value);
    color: var(--text-value);
    margin-bottom: 0.7rem;
}
